.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
}

.header {
  font-size: 40px;
  line-height: 44px;
}

.footerMain {
  display: flex;
  justify-content: space-between;

  & > div:nth-child(1),
  & > div:nth-child(3) {
    flex: 1 1 25%;
  }
}

.footerNav {
  display: flex;
  justify-content: space-between;
  flex: 1 1 60%;

  & > div {
    flex: 1 1 33%;
  }
}
