.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  ul {
    display: flex;
    gap: 60px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #000;
        font-weight: normal;
        cursor: pointer;
        &:focus,
        &:hover {
          text-decoration: underline;
        }
        &.disabled {
          color: grey;
          &:focus,
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.black {
  ul {
    li {
      a {
        color: #000;
      }
    }
  }
}

.white {
  ul {
    li {
      a {
        color: #fff;
      }
    }
  }
}
