/* #TODO: Custom components so not restricted to Umbraco ones */

p.proto-description__sub-heading {
  a {
    display: block;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-color: black;
    &:hover {
      text-underline-offset: 2px;
      text-decoration-color: red;
    }
  
}
}